<footer class="text-center">
  <div class="information py-5">
    <div class="container">
      <div class="row g-3 py-5">
        <div class="col-md-6 col-lg-4">
          <div>
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive <br />Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div>
            <h3>AROUND THE WEB</h3>
            <div class="icons d-flex gap-2 justify-content-center">
              <span class="icon p-2 rounded-circle">
                <i class="fa-brands fa-facebook"></i>
              </span>
              <span class="icon p-2 rounded-circle">
                <i class="fa-brands fa-twitter"></i>
              </span>
              <span class="icon p-2 rounded-circle">
                <i class="fa-brands fa-linkedin-in"></i>
              </span>
              <span class="icon p-2 rounded-circle">
                <i class="fa-brands fa-edge"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div>
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-rights">
    <p class="p-4">Copyright &copy; Your Website 2021</p>
  </div>
</footer>
