<section class="contact text-center">
  <app-headline [headline]="headline" [bgColor]="bgColor"></app-headline>
  <div class="form">
    <input type="text" placeholder="userName" id="userName" />
    <label for="userName">userName:</label>
    <input type="number" placeholder="userAge" id="userAge" />
    <label for="userAge">userAge:</label>
    <input type="email" placeholder="userEmail" id="userEmail" />
    <label for="userEmail">userEmail:</label>
    <input type="password" placeholder="userPassword" id="userPassword" />
    <label for="userPassword">userPassword:</label>
    <button>SEND MESSAGE</button>
  </div>
</section>
